@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	
}

section {
	padding: 100px;

}

.banner {
	position: relative;
	min-height: 100vh;
	background: url(https://live.staticflickr.com/65535/50754299271_27953552a9_b.jpg);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner h2 {
	font-size: 3em;
	color: white;
	font-weight: 500;
	line-height: 1.5em;
	margin-bottom: 15px;

}

.banner h2 span {
	font-size: 1.5em;
	font-weight: 700;
}

.banner h3 {
	font-size: 1.5em;
	color: white;
	font-weight: 500;
	line-height: 1.5em;
	margin-bottom: 25px;
	
}

.fs {
	color: #21ebff;
	font-weight: 700;
	font-style: italic;
	padding-right: 4px;
}

.btn {
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: white;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}

.textLogo {

	list-style: none;
 	border-bottom: 0;
	font-style: italic;
	color:#21ebff;
	
  }
  
  .textLogo li {
	display: inline-block;
	float: left;
	font-weight: 700;
	
	opacity: 1;
	transition: all 1s ease-in-out;
	max-width: 2em;
  }
  .textLogo.hidden li.spaced {
	padding-left: 0;
  }
  .textLogo li.spaced {
	padding-left: 0.5em;
  }
   .textLogo.hidden li.ghost {
	opacity: 0;
	max-width: 0;
  }

header {
	position:fixed;
	top:0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display:flex;
	justify-content: space-between;
	align-items: center;
	transition: 1.5s;
}

header.sticky {
	background: white;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header.sticky .textLogo {
	color:#111;	
	-webkit-box-reflect: none;
}

header ul {
	position: relative;
	display:flex;

}

header ul li {
	position: relative;
	list-style: none;
	
}

header ul li a {
	position: relative;
	display: inline-block;
	margin: 0 15px;
	padding: 10px;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
}


header.sticky ul li a {
	color:#111;
}


@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}

.heading {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	color: #111;
}

.heading-2 {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: white;
}

.heading h2 {
	font-weight: 600;
	font-size: 30px;
}

.heading-2 h2 {
	font-weight: 600;
	font-size: 30px;
}


.content {
	display:flex;
	justify-content: space-between;
	
	
}

.contentBx {
	padding-right: 30px;
	opacity: 0;
	transform: translateY(100px);
	transition: 1s all ease-in-out;
}

.contentShow {
	opacity: 1;
	transform: translateY(0px);
}



.contentBx h3 {
	font-size: 24px;
	margin-bottom: 10px;

}


.contentBx p span {
	font-weight: 700;
	transition:  linear 4s;}

.paint .contentBx p span.yellow {
	background-color: #21ebff;
	font-style: italic;
	font-weight:100;
}

.w50 {
	min-width: 50%;
	
	

}

.desert {
	opacity: 0;
	transform: translateX(200px);
	transition: 1s all ease-in-out;
}

.desertShow {
	opacity: 1;
	transform: translateY(0px);
}

.img {
	max-width: 100%;
	background: linear-gradient(90deg, #ffffff,#21ebff);
	animation: animate 20s linear infinite;
	transition: all 1s ease-in-out
	
}

.title1 {
	opacity: 0;
	transform: translateX(-400px);
	transition: 1s all ease-in-out;
}

.title1Show {
	opacity: 1;
	transform: translateY(0px);
}

.paint .img  {
	box-shadow: 0 0 30px rgba(0,0,0,0.9);
}

.img:hover{
	transform: scale(1.02)
}


.skills {
	background-color: black;
	width: 100%;
	height: 100%;
	

}

.skillsBar {

	display: flex;
	

}

.box {
	width: 60%;
	padding: 40px;
	background-color: rgba(0,0,0,0.9);
	box-shadow: 0 0 30px rgba(0,0,0,0.9);
	color: white;
	border-radius: 9px;
	margin:auto;

}

.progress {
	width: 100%;
	background-color: rgb(56, 49, 49);
	border-radius: 10px;
	margin: 18px 0px;
	height: 25px;
}

.progress-bar {
	height: 100%;
	width: 0%;
	background-color: #21ebff;
	border-radius: 10px;
	position: relative;
	transition: all 2.5s;
}

.red {
	height: 100%;
	width: 0%;
	background-color:rgb(255, 148, 129);
	border-radius: 10px;
	position: relative;
	transition: all 1.5s;
}

.progress-bar span {
	position: absolute;
	top: 0%;
	right: 0%;
}
/* 
.work .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.work .content .workBx {
	width: 50%;
	padding: 20px;
}

.work .content .workBx img {
	max-width: 100%;
} */

.testimonial {
	background:black;
}

.testimonial .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.testimonial .heading {
	color: white;

}

.testimonial .content .testimonialBx {
	max-width: calc(50% - 40px);
	padding: 60px 40px;
	margin: 20px;
	background:  #21ebff;
	
}

.testimonial .content .testimonialBx p {

	color:black;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
}

.testimonial .content .testimonialBx  h3 {
	margin-top: 40px;
	text-align: end;
	color: BLACK;
	font-weight: 600;
	line-height: 1em;

}

.testimonial .content .testimonialBx h3 span {
	font-size: 14px;
	font-weight: 400;
}

/* .contact {

} */

.formBx{
	min-width: 60%;
}
/* 
.formBx form {
	display: flex;
	flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {

	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
	margin-bottom: 20px;
	padding: 15px;
	font-size:16px;
	background: #222;
	outline: none;
	border: none;
	color: white;
	resize: none;
	
}

.formBx form textarea {
	min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
	color: #999;
}

.formBx form input[type= "submit"] {
max-width: 100px;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 2px;
} */


.containerForm {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000010;
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
  }
  .form-group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
	width: 100%;
	padding: 5px;
	font-size: 18px;
	border: 1px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;
  }
  
  textarea {
	resize: vertical;
  }
  button[type="submit"] {
	width: 100%;
	border: none;
	outline: none;
	padding: 20px;
	font-size: 24px;
	border-radius: 2px;
	color: #21ebff;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	transition: all 0.5s ease background-color;
  }
  button[type="submit"]:hover {
	background-color:  #21ebff;
	color: white;
	box-shadow: 0 0 10px #21ebff;
	
  }
  #status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px;
  }
  #status.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
  }
  #status.error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
  }
  @keyframes status {
	0% {
	  opacity: 1;
	  pointer-events: all;
	}
	90% {
	  opacity: 1;
	  pointer-events: all;
	}
	100% {
	  opacity: 0;
	  pointer-events: none;
	}
  }

.contactInfo {
	min-width: 40%;
}

.contactInfoBx {
	position: relative;

}

.contactInfoBx .contactBox {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contactInfoBx .contactBox .icon {
	min-width: 40px;
	padding-top: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.contactInfoBx .contactBox .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	flex-direction: column;
	font-weight: 300;
}

.contactInfoBx .contactBox .text h3 {
	font-weight: 500;
	color:#21ebff;
	margin-bottom: 0;
}

/*Responsiveness*/



/* Buttons */

/*CV*/

.textBx a {
	position: relative;
	padding: 10px;
	margin: 0;
	color: #21ebff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	transition: 0.5s;
	-webkit-box-reflect: below 2px linear-gradient(transparent, #0003);
	
}

.textBx a:hover {
	background-color: #21ebff;
	color: #111;
	box-shadow: 0 0 50px #21ebff;
	transition-delay: 0.5s;


}

.textBx a:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #21ebff;
	border-left: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;

}

.textBx a:hover:before{
	width: 98%;
	height: 95%;
	transition-delay: 0s;

}

.textBx a:after {
	content: "";
	position:absolute;
	bottom:0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #21ebff;
	border-right: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;

}

.textBx a:hover:after {
	width: 98%;
	height: 95%;
	transition-delay: 0s;

}

/* Contact */ 


.contactBtn a {
	position: relative;
	padding: 10px;
	margin: 0;
	color: #21ebff;
	text-decoration: none;

	letter-spacing: 2px;
	
	transition: 0.5s;
	
	
}

.contactBtn a:hover {
	background-color: #21ebff;
	color: white;
	box-shadow: 0 0 50px #21ebff;
	transition-delay: 0.5s;


}

.contactBtn a:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #21ebff;
	border-left: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;

}

.contactBtn a:hover:before{
	width: 98%;
	height: 95%;
	transition-delay: 0s;

}

.contactBtn a:after {
	content: "";
	position:absolute;
	bottom:0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #21ebff;
	border-right: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;

}

.contactBtn a:hover:after {
	width: 98%;
	height: 95%;
	transition-delay: 0s;

}

/* Work */

.work {
	max-width: 100%;
	
}

.container {
	position: relative;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.container .card {
	position: relative;
	max-width: 750px;
	height: 300px;
	background: white;
	margin: 30px 30px 60px 30px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(117, 216, 255, 0.5);
	transition: 0.3s ease-in-out;
}

.container .card:hover{
	height: 470px;
	cursor: pointer;
}

.container .card .imgBx {
	position: relative;
	width: 600px;
	height: 260px;
	top:-60px;
	left:0;
	z-index: 1;
	
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
	max-width: 100%;
	border-radius: 4px;

}

.container .card .content {
	position: relative;
	margin-top: -140px;
	max-width: 600px;
	padding: 10px 15px;
	text-align: center;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center; 
	opacity: 0;
	transition:0.3s ease-in-out;

}

.container .card .content h2 {
	color: #21ebff;
}

.container .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: 0px;
	transition-delay: 0.3s;
}

.container .card.green {
	background-color: white;
}



.container .card.tomato {
	background-color:rgb(31, 29, 29);
}

.container .card.tomato p {
	color: white;
}

.container .card.mountain {
	background-color:rgb(31, 29, 29);
}

.container .card.mountain p {
	color: white;
}

.container .card.orange {
	background-color: white;
}

.title2 {
	opacity: 0;
	transform: translateX(-400px);
	transition: 1s all ease-in-out;
}

.subtitle1 {
	opacity: 0;
	transform: translateX(400px);
	transition: 1s all ease-in-out;
}

.title2Show {
	opacity: 1;
	transform: translateY(0px);
}

.subtitle1Show {
	opacity: 1;
	transform: translateY(0px);
}


.viewMoreBtn {
	position: relative;
	padding: 10px;
	margin: 0;
	color: black;
	font-weight: 700;
	text-decoration: none;

	letter-spacing: 2px;
	
	transition: 0.5s;
	
	
}

.viewMoreBtn:hover {
	background-color: #21ebff;
	color: white;
	box-shadow: 0 0 50px #21ebff;
	transition-delay: 0.5s;


}

.viewMoreBtn:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #21ebff;
	border-left: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;

}

.viewMoreBtn:hover:before{
	width: 98%;
	height: 95%;
	transition-delay: 0s;

}

.viewMoreBtn:after {
	content: "";
	position:absolute;
	bottom:0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #21ebff;
	border-right: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;

}

.viewMoreBtn:hover:after {
	width: 98%;
	height: 95%;
	transition-delay: 0s;

}

.title3 {
	opacity: 0;
	transform: translateX(-400px);
	transition: 1s all ease-in-out;
}

.subtitle2 {
	opacity: 0;
	transform: translateX(400px);
	transition: 1s all ease-in-out;
}

.title3Show {
	opacity: 1;
	transform: translateY(0px);
}

.subtitle2Show {
	opacity: 1;
	transform: translateY(0px);
}




.testimonialBx {
	opacity: 0;
	transform: translateY(400px);
	transition: 1s all ease-in-out;
}

.testimonialBxShow {
	opacity: 1;
	transform: translateY(0px);
}

.wrap{
	margin-top: 10px;
	padding: 2%;
	width: 20em;
  }
  
  .wrap div{
	display: inline-block;
  }
  
  .icon1{
	background-color:#222;
	background-repeat:no-repeat;
	background-position:center center;
	height: 3em;
	width:3em;
	-webkit-transition: background-color 0.4s ease;
	-moz-transition: background-color 0.4s ease;
	-ms-transition: background-color 0.4s ease;
	-o-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
  }
  
  .goof{
	-webkit-transition: all 0.4s cubic-bezier(0,2,0,2);
	-moz-transition: all 0.4s cubic-bezier(0,2,0,2);
	-ms-transition: all 0.4s cubic-bezier(0,2,0,2);
	-o-transition: all 0.4s cubic-bezier(0,2,0,2);
	transition: all 0.4s cubic-bezier(0,2,0,2);
  }
  
  .goof:hover{
	background-size:35%;
  }
  
  .icon1 a{
	display: block;
	height: 100%;
	width: 100%;
  }
  

  
  .linkedin{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC4zIDEwNSAxMDUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjcsMzQuNmgyMS43djY5LjdIMS43VjM0LjZ6IE0xMi42LDBjNi45LDAsMTIuNiw1LjYsMTIuNiwxMi42YzAsNi45LTUuNiwxMi42LTEyLjYsMTIuNkM1LjYsMjUuMSwwLDE5LjUsMCwxMi42QzAsNS42LDUuNiwwLDEyLjYsMCIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zNywzNC42aDIwLjh2OS41aDAuM2MyLjktNS41LDEwLTExLjMsMjAuNS0xMS4zYzIxLjksMCwyNiwxNC40LDI2LDMzLjJ2MzguMkg4Mi45VjcwLjRjMC04LjEtMC4yLTE4LjUtMTEuMy0xOC41Yy0xMS4zLDAtMTMsOC44LTEzLDE3Ljl2MzQuNUgzN1YzNC42eiIvPjwvc3ZnPg==);
	background-size:50%; 
  }
  
  .linkedin:hover{
	background-color:#007BB6;
  }
  

  
  .instagram{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iLTAuOSAtMC44IDYxIDYxIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTcuNywwaDQ0LjVjNC4yLDAsNy43LDMuNSw3LjcsNy43djQ0LjVjMCw0LjItMy41LDcuNy03LjcsNy43SDcuN2MtNC4yLDAtNy43LTMuNS03LjctNy43VjcuN0MwLDMuNSwzLjUsMCw3LjcsMEw3LjcsMHogTTQzLjYsNi43Yy0xLjUsMC0yLjcsMS4yLTIuNywyLjd2Ni41YzAsMS41LDEuMiwyLjcsMi43LDIuN2g2LjhjMS41LDAsMi43LTEuMiwyLjctMi43VjkuNGMwLTEuNS0xLjItMi43LTIuNy0yLjdINDMuNkw0My42LDYuN3ogTTUzLjEsMjUuM2gtNS4zYzAuNSwxLjYsMC44LDMuNCwwLjgsNS4xYzAsMTAtOC4zLDE4LTE4LjYsMThzLTE4LjYtOC4xLTE4LjYtMThjMC0xLjgsMC4zLTMuNSwwLjgtNS4xSDYuN3YyNS4zQzYuNyw1Miw3LjcsNTMsOSw1M2g0MS43YzEuMywwLDIuNC0xLjEsMi40LTIuNFYyNS4zTDUzLjEsMjUuM3ogTTMwLDE4LjJjLTYuNiwwLTEyLDUuMi0xMiwxMS43YzAsNi40LDUuNCwxMS43LDEyLDExLjdzMTItNS4yLDEyLTExLjdDNDIsMjMuNCwzNi43LDE4LjIsMzAsMTguMnoiLz48L3N2Zz4=);
	background-size:55%; 
  }
  
  .instagram:hover{
	background-color:#dc2743; 
 }
  
  
  .github{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC40IDMyIDMzIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMzIsMTZjMCw4LjgtNy4yLDE2LTE2LDE2QzcuMiwzMiwwLDI0LjgsMCwxNkMwLDcuMiw3LjIsMCwxNiwwQzI0LjgsMCwzMiw3LjIsMzIsMTYgTTIwLDI5YzUuNS0xLjgsOS41LTYuOSw5LjUtMTNjMC03LjUtNi0xMy41LTEzLjUtMTMuNUM4LjUsMi41LDIuNSw4LjUsMi41LDE2YzAsNi4xLDQsMTEuMiw5LjUsMTN2LTIuNWMtMy45LDAuOS00LjgtMS44LTQuOC0xLjhjLTAuNi0xLjYtMS41LTItMS41LTJjLTEuMy0wLjksMC4xLTAuOCwwLjEtMC44YzEuNCwwLjEsMi4xLDEuNCwyLjEsMS40YzEuMywyLjMsMy41LDEuNCw0LjIsMS4xYzAuMi0xLDEtMS4yLDEuMi0xLjNDOS44LDIyLjYsNiwyMS4zLDYsMTUuMmMwLTEuNywwLjYtMy4xLDEuNi00LjJjLTAuMi0wLjQtMC43LTIsMC4yLTQuMmMwLDAsMS4zLTAuNCw0LjMsMS42YzEuMy0wLjMsMi42LTAuNSwzLjktMC41YzEuMywwLDIuNywwLjIsMy45LDAuNWMzLTIsNC4zLTEuNiw0LjMtMS42YzAuOSwyLjIsMC4zLDMuOCwwLjIsNC4yYzEsMS4xLDEuNiwyLjUsMS42LDQuMmMwLDYuMS0zLjgsNy40LTcuMyw3LjhjMC42LDAuNCwxLjMsMS4zLDEuMywyLjhWMjl6Ii8+PC9zdmc+);
	background-size:60%; 
  }
  
  .github:hover{
	background-color:#6CC644;
  }
  
  @media (max-width: 991px){

	header,
	header.sticky {
		padding: 20px 50px;
		z-index: 1000;
	}
	.menu {
		position: fixed;
		top:75px;
		left:-100%;
		display:block;
		padding: 100px 50px;
		text-align:center; 
		width: 100%;
		height: 100vh;
		background: white;
		transition: 0.5s;
		z-index: 999;
		border-top:1px solid rgba(0,0,0,0.2);
	}

	.menu.active {
	left:0;
	}

	header ul li a {
		color: #111;
		font-size: 24px;
		margin:10px;
	}

	.toggle {
		width: 40px;
		height: 40px;
		background: url(/images/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}

	.toggle.active {
		width: 40px;
		height: 40px;
		background: url(/images/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;
		cursor: pointer;
	}

	header.sticky .toggle {
		filter: invert(1)
	}
	
	section {
		padding: 100px 50px;
	}

	.banner {
		padding: 150px 50px 100px;
	}

	.banner h2 {
		font-size: 1.5em;
	}

	.banner h3 {
		font-size: 1em;
	}

	.btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}

	.heading h2 {

		font-size: 24px;
	}

	.contentBx h3 {

		font-size: 20px;
	}

	.content {
		flex-direction: column;
	}

	.w50 {
		margin-bottom: 20px;
	}

	.skillsBar {

		display: flex;
		flex-direction: column;
		
	}

	.box {
		width: 80%;
		padding: 20px;
		background-color: rgba(0,0,0,0.9);
		box-shadow: 0 0 30px rgba(0,0,0,0.9);
		color: white;
		border-radius: 9px;
		margin:auto;
	
	}

	.work .content .workBx {
		width: 100%;
		padding: 10px;
	}

	.testimonial .content .testimonialBx {
		max-width: 98%;
		padding: 40px 20px;
		margin: 10px;
		background: #21ebff;
	}

	.testimonial .content .testimonialBx h3 {
		margin-top: 20px;
	}

	.contactInfo {
		
		margin: 20px 0;
	}

	.container {
		position: relative;
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 30px;
	}
	
	.container .card {
		position: relative;
		max-width: 380px;
		height: 160px;
		background: white;
		margin: 30px 30px 60px 30px;
		padding: 20px 15px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 5px 20px rgba(117, 216, 255, 0.5);
		transition: 0.3s ease-in-out;
	}
	
	.container .card:hover{
		height: 420px;
		cursor: pointer;
	}
	
	.container .card .imgBx {
		position: relative;
		width: 350px;
		height: 160px;
		top:-60px;
		left:0;
		z-index: 1;
		
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	}
	
	.container .card .imgBx img {
		max-width: 100%;
		border-radius: 4px;
	
	}
	
	.container .card .content {
		position: relative;
		margin-top: -140px;
		max-width: 600px;
		padding: 10px 15px;
		text-align: center;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align:center; 
		opacity: 0;
		transition:0.3s ease-in-out;
	
	}
}

@media (max-width: 600px){
	header,
	header.sticky {
		padding: 20px 20px;
	}
	.banner {
		padding: 150px 20px 100px;

	}
	section {
		padding: 100px 20px; 
	}
}